.heading {
  @include mantine.dark {
    color: var(--mantine-color-ironwood-0);
  }

  @include mantine.light {
    color: var(--mantine-color-ironwood-5);
  }

  &:is(h1),
  &[data-size='h1'] {
    font-size: 1.5rem;

    @include mantine.media-from(md) {
      font-size: 1.75rem;
    }

    @include mantine.media-from(lg) {
      font-size: 1.875;
    }
  }

  &:is(h1),
  &[data-size='h1'] {
    font-size: 1.5rem;

    @include mantine.media-from(md) {
      font-size: 1.75rem;
    }

    @include mantine.media-from(lg) {
      font-size: 1.875rem;
    }
  }

  &:is(h2),
  &[data-size='h2'] {
    font-size: 1.375rem;

    @include mantine.media-from(md) {
      font-size: 1.5rem;
    }

    @include mantine.media-from(lg) {
      font-size: 1.625rem;
    }
  }

  &:is(h3),
  &[data-size='h3'] {
    font-size: 1.25rem;

    @include mantine.media-from(md) {
      font-size: 1.375rem;
    }

    @include mantine.media-from(lg) {
      font-size: 1.5rem;
    }
  }

  &:is(h4),
  &[data-size='h4'] {
    font-size: 1.125rem;

    @include mantine.media-from(md) {
      font-size: 1.25rem;
    }

    @include mantine.media-from(lg) {
      font-size: 1.375rem;
    }
  }

  &:is(h5),
  &[data-size='h5'] {
    font-size: 1rem;

    @include mantine.media-from(md) {
      font-size: 1.125rem;
    }

    @include mantine.media-from(lg) {
      font-size: 1.25rem;
    }
  }

  &:is(h6),
  &[data-size='h6'] {
    font-size: 0.875rem;

    @include mantine.media-from(md) {
      font-size: 1rem;
    }

    @include mantine.media-from(lg) {
      font-size: 1.125rem;
    }
  }
}

.text {
  @include mantine.dark {
    color: var(--mantine-color-ironwood-1);
  }

  @include mantine.light {
    color: var(--mantine-color-ironwood-4);
  }
}
