.transactionItem {
  cursor: pointer;
  border-radius: var(--mantine-radius-md);

  .transactionItemIcon {
    border-radius: var(--mantine-radius-md);
    background-color: var(--mantine-color-oat-2) !important;
    color: var(--mantine-color-secondary-6);
    flex: 0 0 56px;
  }

  .transactionItemBody {
    border-radius: var(--mantine-radius-md);
    width: 100%;
  }
}
