@use 'sass:math';
@use 'sass:map';

// Define variables for your breakpoints,
// values must be the same as in your theme.ts
$breakpoints: (
  xs: 0,
  sm: 33em,
  md: 48em,
  lg: 62em,
  xl: 75em,
  xxl: 88em,
);

@function get-breakpoint($key) {
  @return map.get($breakpoints, $key);
}

@function rem($value) {
  @return #{math.div(math.div($value, $value * 0 + 1), 16)}rem;
}

@mixin light {
  [data-mantine-color-scheme='light'] & {
    @content;
  }
}

@mixin dark {
  [data-mantine-color-scheme='dark'] & {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}

@mixin media-to($key) {
  @media (max-width: get-breakpoint($key)) {
    @content;
  }
}

@mixin media-from($key) {
  @media (min-width: get-breakpoint($key)) {
    @content;
  }
}

// Add direction mixins if you need rtl support
@mixin rtl {
  [dir='rtl'] & {
    @content;
  }
}

@mixin ltr {
  [dir='ltr'] & {
    @content;
  }
}
